alembic
blinker
certifi
click
cloudinary
colorama
Flask
flask-cors
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
Mako
MarkupSafe
mysql-connector-python
PyMySQL
python-dotenv
six
SQLAlchemy
typing_extensions
urllib3
Werkzeug
